.container {
  height: 30vh;
  width: 80%;
  background: black;
  margin: 0 auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container h2 {
  color: white;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
button {
  height: 5vh;
  width: 70px;
  border-radius: 30px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}

@media(min-width: 900px) {
  .container {
    height: 60vh;
    width: 70%;
    background: black;
    margin: 0 auto;
    padding: 2%;

  }
  button {
    height: 10vh;
    width: 180px;
    border-radius: 30px;
    font-size: 60px;
  }
  .title {
    font-size: 40px;
  }
}